.main-container {
    margin: 10%;
    outline: solid black;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
}

.main-displays {
    flex: auto;
    /* outline: solid brown;s */
    margin: 0px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.display-container, .key-container {
    outline: solid red;
    /* flex: auto; */
    display: flex;
    flex-direction: column;
}

.display-container {
    justify-content: center;
}

.display-container div {
    outline: solid aqua;
    padding: 2px;
}

#answer-div {
    align-self: flex-end;
    font-size: 24px;
}

.key-container {
    background-color: lightcoral;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}

.key-col {
    /* outline: solid purple; */
    flex: auto;
    display: flex;
    flex-direction: column;
}

.key-col div {
    flex: auto;
    /* outline: solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}