.main-container {
    margin: 30px 40%;
    outline: solid black;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    min-height: 250px;

}

.main-displays {
    flex: auto;
    padding: 10px;
    outline: solid brown;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.display-container, .key-container {
    outline: solid red;
    display: flex;
    flex-direction: column;
}

.display-container {
    padding: 4px;
}

#op-div {
    font-size: 18px;
    font-style: italic;
    overflow-wrap: break-word;
}

#answer-div {
    font-size: 36px;
    overflow-wrap: break-word;
    text-align: end;
}

.key-container {
    background-color: lightcoral;
    flex-direction: row;
    /* justify-content: center; */
    /* height: 300px; */
    flex: auto;
}

.key-col {
    /* outline: solid purple; */
    flex: auto;
    display: flex;
    flex-direction: column;
}

.key-col div {
    flex: auto;
    /* outline: solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}